<a href="https://colab.research.google.com/github/maggyost/CPE_CienciaDatosPython_Mod1/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
https://gofile.io/?c=FtLCc4

Modelo Clasificador

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.feature_selection import SelectKBest
import pandas as pd
import numpy as np
import io

In [29]:
from google.colab import files 

uploaded = files.upload()

Saving Bayes.csv to Bayes (2).csv

In [0]:
dataframe = pd.read_csv(io.BytesIO(uploaded['Bayes.csv']))

In [31]:
dataframe.head()

   ingresos  gastos_comunes  pago_coche  ...  hijos  trabajo  comprar
0      6000            1000           0  ...      2        2        1
1      6745             944         123  ...      3        6        0
2      6455            1033          98  ...      1        8        1
3      7098            1278          15  ...      0        3        0
4      6167             863         223  ...      0        3        1

[5 rows x 10 columns]

In [0]:
dataframe['gastos'] = (dataframe['gastos_comunes']+dataframe['gastos_otros']+dataframe['pago_coche'])

In [0]:
dataframe['financiar'] = dataframe['vivienda'] - dataframe['ahorros']

In [34]:
dataframe.drop(['gastos_comunes','gastos_otros','pago_coche'], axis=1).head(10)

   ingresos  ahorros  vivienda  ...  comprar  gastos  financiar
0      6000    50000    400000  ...        1    1600     350000
1      6745    43240    636897  ...        0    1496     593657
2      6455    57463    321779  ...        1    1926     264316
3      7098    54506    660933  ...        0    1547     606427
4      6167    41512    348932  ...        1    1606     307420
5      5692    50875    360863  ...        1    1247     309988
6      6830    46761    429812  ...        1    1952     383051
7      6470    57439    606291  ...        0    1856     548852
8      6251    50503    291010  ...        1    2030     240507
9      6987    40611    324098  ...        1    1755     283487

[10 rows x 9 columns]

In [0]:
X = dataframe.drop(['comprar'],axis=1)
y = dataframe['comprar']

In [0]:
SelectKBest?

In [41]:
best=SelectKBest(k=5)
X_Nueva = best.fit_transform(X,y)
X_Nueva.shape
selected = best.get_support(indices=True)
print(X.columns[selected])
used_feature = X.columns[selected]

Index(['ingresos', 'ahorros', 'hijos', 'trabajo', 'financiar'], dtype='object')

In [0]:
X_train,X_test = train_test_split(dataframe, test_size=0.2, random_state=6)
y_train = X_train['comprar']
y_test = X_test['comprar']

In [0]:
gnb = GaussianNB()
gnb.fit(X_train[used_feature].values , 
        y_train
        )
y_pred = gnb.predict(X_test[used_feature])

In [58]:

print('Precision de modelo de entrenamiento {:.2f}'.format(gnb.score(X_train[used_feature],y_train)))
print('Precision de modelo test {:.2f}'.format(gnb.score(X_test[used_feature],y_test)))
print(gnb.predict([[2000, 5000, 0 , 5, 200000], [6000,34000,2,5,320000]]))

Precision de modelo de entrenamiento 0.87
Precision de modelo test 0.90
[0 1]

En la ultima fila tenemos los datos de 02 familias y sale que la 1era no compra y la 2da si puede comprar